#header

.container {
  width: 85%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.container.container-fluid {
  width: 92%;
}

#weatherIcon {
  max-width: 100px;
  display: inline;
}

#cityName {
  display: inline;
}
/* 
#fiveDayForecast {
  display: flex;
} */